<div align="center">
<img width="200px" src="https://raw.githubusercontent.com/iamadhee/docify/main/assets/logo.png">
<h1>{{repository_name}}</h1></div>

<div align="center">
{{tag_line_for_repo}}
</div>

## What is Docify?

{{short_description}}
----

## Features

{{features as bullet points}}

----

## How {{repository_name}} Works

{{how_repo_works}}
---

## Getting Started
{{getting_started}}

{%- if warning is not none -%}
{{ warning }}
{% endif -%}
----

## Contributing

{{how_to_contribute}}
----

## License

{{license}}
